@import "sass/_index.scss";
@import "mystyles/features.scss";
@import "mystyles/home-section.scss";
@import "mystyles/twitter.scss";
@import "mystyles/footer.scss";

.hover-box{
    height: 70%; 
    align-self: center;
}

.hover-box:hover {
    background-color: var(--bulma-info-95);
    border-radius: 5px;
}

.title{
    --bulma-size-1: 4rem;
}