.bd-features {
    --gap: 4rem;
    --width: 20rem;
    align-items: center;
    padding: var(--gap);
    position: relative;
}

.bd-feature {
    --bg: var(--bulma-info);
    --bd-width: 0.125em;
    --radius: 0.75em;
    --p: 10px;
    --icon: var(--bulma-primary);
    background: var(--bg);
    border-radius: calc(var(--bd-width) + var(--radius));
    box-shadow: 0 .3em .8em 0 var(--bg);
    padding: var(--bd-width);
    transition-duration: 100ms;
    transition-property: box-shadow, transform;
}

.bd-feature.is-free {
    --bg: var(--bulma-grey);
    --icon: var(--bulma-text);
}

.bd-feature.is-easy {
    --bg: var(--bulma-link-light);
    --icon: var(--bulma-link);
}

.bd-feature.is-beta {
    --bg: var(--bulma-danger-light);
    --icon: var(--bulma-danger);
}

.bd-feature.is-fun {
    --bg: var(--bulma-warning-light);
    --icon: var(--bulma-warning);
}

.bd-feature-body {
    align-items: center;
    background-color: var(--bulma-scheme-main);
    border-radius: var(--radius);
    column-gap: var(--p);
    display: grid;
    grid-template-columns: auto 1fr;
    padding: var(--p) calc(var(--p)* 1.25);
}

.bd-feature-body .icon {
    color: var(--icon);
    grid-row: 1 / span 2;
}

.bd-feature:hover {
    transform: translateY(-7px); /* Move up 5px on hover */
  }

.bd-feature-title {
    color: var(--bulma-text-strong);
    font-size: 1.25em;
    font-weight: var(--bulma-weight-semibold);
}

.bd-feature-subtitle {
    color: var(--bulma-text-weak);
}


h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

a {
    color: var(--bulma-link-text);
    cursor: pointer;
    text-decoration: none;
    transition-duration: 100ms;
    transition-property: background-color, border-color, color;
}